@import url("react-toastify/dist/ReactToastify.css");



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root { 
  --primary-orange : rgb(189, 175, 28);
  --secondary-orange : rgb(144, 135, 30);
}

body {
  background-color: black;
}